body{font-family: 'Poppins', sans-serif;}
.first{ background: #fff; height:64px; }
.second{ background:linear-gradient(rgba(4,9,30,0.85),rgba(4,9,30,0.85)),url(../img/banner-bg.jpg);
	 height:70vh; background-size: cover; padding-top: -10px;  background-attachment: fixed;   }
.bg-light{ background: #67bc00 !important;}
.banner-content{ color:#d5d6da; padding-top: 184px;}
.font-weight-bold{ font-size: 44px; color: #fff; }
.btn-primary.disabled, .btn-primary:disabled{ background:#67bc00; }
.btn-primary.disabled, .btn-primary:disabled:hover{ background: transparent; }
.backthird{ position: relative; }
.bgthird{ background: #fff; position: absolute; margin-top: -80px; width: 1109px; height: 360px; text-align: center; border-radius: 1px solid #999; }
@media(max-width: 780px)
 { 
.bgthird{ background: #fff;	position: relative;	margin-top: -111px;	width: 100%; height: 360px;	text-align: center; border-radius: 1px solid #999; }	
.second{ height: 90vh; 	}
.bg-light{ width: 100%; }
}							
.third{ background:#fff; }
.imgcircle{ background: #67bc00; }
.bgfourth{ color:#222222; background:#fff; height: 120px; position: absolute; margin-top: 20%; text-align: center; width: 100%; }
.bgfourth .container h6:hover{
	color: #9fdd00;
}
.fourth{ background:#04091e; color: #fff;  margin-bottom:60px;}
.five{ background:#ffffff; }
.owl-carousel .container{ border: 1px solid #eeeeee; padding:20px; }
.owl-carousel .container h4:hover{ color: #7cc800; }
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{ font-size: 44px; }
.img-fluid{ margin: auto; padding-bottom: 20px; }
	
.owl-carousel .container:hover h4{ color: #7cc800; }

.consultants-hover{
	position: relative;
}
.consultants-hover-text{
	position: absolute;
	margin-top: -110px;
	margin-left: 30px;
	display: none;
}
.consultants-hover :hover .consultants-hover-text{
	display: block;
	color:#7cc800; 
}
.consultants-hover:hover{
	background: #cad6fe;
}



.six{
	background:#f9f9ff;
		
	}

.six .container .consultants-hover div img:hover{
	background:#7fca00; 
}
.font-weight-bolder:hover{
	color: #7eca00;
}
.eight{
	background:#04091e;
	}
.img-fluid{
		padding-bottom: 0px;
		}
.appoinment .col-md-7{
	margin-top: 80px;
	color: #fff;
	}
.nine{
	background:#fff;
	
	}

footer{
	background:#04091e;
	color: #fff;
	
	}

	
	#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}