body{font-family: 'Poppins', sans-serif;}
.first{ background: #fff; height:64px; }
.second{ background:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/blog-home-banner.jpg);
	 height:70vh; background-size: cover; padding-top: -10px;  background-attachment: fixed;   }
.bg-light{ background: #67bc00 !important;}
h2{
	font-size: 48px;
}
.container-text{
	color: #fff;
	padding-top: 184px;
}
.second-container-button{
	border-radius: 0;
	background: #fff;
	padding: 12px 22px;
}
.second-container-button:hover{
	background: transparent;
	color: #fff;
}
.second-contener-button-margin-top{
	padding-top: 40px;
}
.third{
	background: #999;
	
}






footer{
	background:#04091e;
	color: #fff;
	
	}



	#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}